<div class="wrapper__settings">
    <h3>Налаштування аккаунту</h3>

    <div class="wrapper__settings-item">
        <input type="text" placeholder="Новий пароль:" id="password_input">
        <button id="save_password_button">Зберегти</button>
    </div>
    <div class="wrapper__settings-item">
        <input type="text" placeholder="Нове ім'я користувача" value="{{username}}" id="username_input">
        <button id="save_username_button">Зберегти</button>
    </div>

    <div class="wrapper__response-message"></div>
</div>


