<form class="wrapper__form mt-130" id="signup_form">
    <input type="text" placeholder="Ім'я користувача:">
    <input type="password" placeholder="Пароль:">
    <button type="submit">Реєстрація</button>
</form>

<div class="wrapper__response-message">

</div>
