.create-password-link {
    text-decoration: none;
    color: #000;
    width: 200px;
    height: 40px;
    padding: 0;
    display: block;
    margin: 0 auto;
}

.create-password-link button {
    display: block;
    margin-top: 30px;
    width: 200px;
    height: 40px;
    cursor: pointer;
}

.wrapper__passwords-item {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
    margin-top: 50px;
    background-color: #e1e1e1;
    padding: 10px;
    font-size: 22px;
}

.wrapper__passwords-item-password-span {
    margin-top: 20px;
}

.wrapper__passwords-item-delete-btn {
    border: none;
    background-color: #CC1B1BF9;
    color: #fff;
    width: 20%;
    margin-top: 20px;
    cursor: pointer;
}

.load-more-btn {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    padding: 10px;
    margin-bottom: 30px;
    cursor: pointer;
}

.wrapper__passwords-item-edit-password-button {
    margin-top: 10px;
    width: 20%;
    cursor: pointer;
}

.wrapper__passwords-item-edit-password-form {
    display: none;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-direction: column;
    width: 100%;
}

.wrapper__passwords-item-edit-password-form button {
    margin-top: 10px;
    cursor: pointer;
}

.wrapper__passwords-item-edit-password-form input {
    margin-top: 10px;
}

.wrapper__password-item-edit-password-form-message {
    display: none;
    background-color: darkred;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: #fff;
}
