<form class="wrapper__form" id="create-password-form">
    <input type="text" placeholder="Призначення паролю:">
    <input type="text" placeholder="Пароль:">
    <button>Створити пароль</button>
</form>

<div class="wrapper__response-message">

</div>

<div class="wrapper__passwords">
    {{#each passwords}}
        <div class="wrapper__passwords-item" id="{{this.id}}">
            <span>Призначення: {{this.description}}</span>
            <span class="wrapper__passwords-item-password-span">Пароль: {{this.password}}</span>
            <button class="wrapper__passwords-item-delete-btn">Видалити</button>
            <form class="wrapper__passwords-item-edit-password-form">
                <input type="text" placeholder="Призначення паролю:">
                <input type="text" placeholder="Новий пароль:">
                <button type="submit">Зберегти зміни</button>
            </form>
            <button class="wrapper__passwords-item-edit-password-button">Редагувати</button>
        </div>
    {{/each}}
</div>

{{#if loadMore}}
    <button class="load-more-btn">Завантажити ще</button>
{{/if}}

